Question 1

Consider the following Python module:a = 0def b():global aa = c(a)def c(a):return a + 2After importing the module into the interpreter, you execute:>>> b()>>> b()>>> b()>>> a?What value is displayed when the last expression (a) is evaluated? Explain youranswer by indicating what happens in every executed statement.

a is the global variable with the value 0.

defb(): global a declares that a is the global variable a which assigns to the function b.

a= c(a) calls the function c with the current value of a.

defc(a): 
      return a+2 refers that the function c takes an argument a that returns the value a+2.
      
Excecution:

1. b() is called for the first time and it refers to the global variable 'a' which is equal to 0. Then calls c(a) with the current value of a which is 0 and returns 0+2=2.

2. b() is called for the second time and refers to the global variable a which is now 2. now calls c(a) which is c(2) and returns 2+2=4.

3. Calls b for the third time and refers to a=4. Then calls c(a)=c(4) and returns 4+2=6.

Question 2

Function fileLength(), given to you, takes the name of a file as input and returnsthe length of the file:>>> fileLength('midterm.py')284>>> fileLength('idterm.py')Traceback (most recent call last):File "<pyshell#34>", line 1, in <module>fileLength('idterm.py')File "/Users/me/midterm.py", line 3, in fileLengthinfile = open(filename)FileNotFoundError: [Errno 2] No such file or directory:'idterm.py'As shown above, if the file cannot be found by the interpreter or if it cannot be readas a text file, an exception will be raised. Modify function fileLength() so that afriendly message is printed instead:>>> fileLength('midterm.py')358>>> fileLength('idterm.py')File idterm.py not found.

In [15]:

def fileLength(filename):
    try:
        with open(filename, 'r') as infile:
            length = 0
            for line in infile:
                length += len(line)
            return length
    except FileNotFoundError:
        print(f"File {filename} not found.")

# Test the function
file_length = fileLength('midterm.py')
if file_length is not None:
    print(file_length)
file_length = fileLength('idterm.py')

File midterm.py not found.
File idterm.py not found.

Question 3

Write a class named Marsupial that can be used as shown below:>>> m = Marsupial()>>> m.put_in_pouch('doll')>>> m.put_in_pouch('firetruck')>>> m.put_in_pouch('kitten')>>> m.pouch_contents()['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all theattributes of Marsupial and also:a. extends the Marsupial __init__ constructor to take, as input, thecoordinates x and y of the Kangaroo object,b. supports method jump that takes number values dx and dy as input andmoves the kangaroo by dx units along the x-axis and by dy units along the y-axis, andc. overloads the __str__ operator so it behaves as shown below.>>> k = Kangaroo(0,0)>>> print(k)I am a Kangaroo located at coordinates (0,0)>>> k.put_in_pouch('doll')>>> k.put_in_pouch('firetruck')>>> k.put_in_pouch('kitten')>>> k.pouch_contents()['doll', 'firetruck', 'kitten']>>> k.jump(1,0)>>> k.jump(1,0)>>> k.jump(1,0)>>> print(k)I am a Kangaroo located at coordinates (3,0)

In [16]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()  # Call the Marsupial constructor to initialize the pouch.
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

    # Create a Kangaroo object at (0, 0)
k = Kangaroo(0, 0)

# Print the Kangaroo's initial location
print(k)  

# Put items in the pouch
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')


print(k.pouch_contents())  

# Move the Kangaroo
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)


print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Question 4

Write function collatz() that takes a positive integer x as input and prints theCollatz sequence starting at x. A Collatz sequence is obtained by repeatedly applyingthis rule to the previous number x in the sequence:x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑Your function should stop when the sequence gets to number 1. Yourimplementation must be recursive, without any loops.
>>> collatz(1)1>>> collatz(10)105168421

In [17]:
def collatz(x):
    if x == 1:
        print(x)  # When x = 1, print x and stop the recursion.
    else:
        print(x)
        if x % 2 == 0:
            # If x is an even number, divide it by 2.
            collatz(x // 2)
        else:
            # If x is an odd number, apply the 3x + 1 rule.
            collatz(3 * x + 1)

# Test the function
collatz(1)  
collatz(10)

1
10
5
16
8
4
2
1

Question 5

Write a recursive method binary() that takes a non-negativeinteger n and prints the binary representation of integer n.>>> binary(0)0>>> binary(1)1>>> binary(3)11>>> binary(9)1001

In [18]:
def binary(n):
    if n > 1:
        binary(n // 2)  # Recursive call with integer division by 2
    print(n % 2, end="")  # Print the remainder (0 or 1)

# Test the function
binary(0)  
print()  
binary(1)  
print()
binary(3)  
print()
binary(9)

0
1
11
1001

Question 8

Write SQL queries on the below database table that return:a) All the temperature data.b) All the cities, but without repetition.c) All the records for India.d) All the Fall records e) The city, country, and season for which the average rainfall is between 200and 400 millimeters.f) The city and country for which the average Fall temperature is above 20degrees, in increasing temperature order.g) The total annual rainfall for Cairo.h) The total rainfall for each season.

In [6]:
import sqlite3

conn = sqlite3.connect('sreelekshmi sreejith bindu.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE weather 
    (City TEXT, Country TEXT, Season TEXT, "Temperature(C)" FLOAT, "Rainfall(mm)" FLOAT)
''')

weather_data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('''
    INSERT INTO weather (City, Country, Season, "Temperature(C)", "Rainfall(mm)")
    VALUES (?, ?, ?, ?, ?)
''', weather_data)

# a) All the temperature data.
cursor.execute('SELECT "Temperature(C)" FROM weather')
temperature_data = cursor.fetchall()

#b) All the cities, but without repetition.
cursor.execute('SELECT DISTINCT City FROM weather')
unique_cities = cursor.fetchall()

#c) All the records for India.
cursor.execute('SELECT * FROM weather WHERE Country = "India"')
india_records = cursor.fetchall()

#d) All the Fall records
cursor.execute('SELECT * FROM weather WHERE Season = "Fall"')
fall_records = cursor.fetchall()

#e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cursor.execute('''
    SELECT City, Country, Season
    FROM weather
    GROUP BY City, Country, Season
    HAVING AVG("Rainfall(mm)") BETWEEN 200 AND 400
''')
rainfall_between_200_400 = cursor.fetchall()

#f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cursor.execute('''
    SELECT City, Country
    FROM weather
    WHERE Season = "Fall"
    GROUP BY City, Country
    HAVING AVG("Temperature(C)") > 20
    ORDER BY AVG("Temperature(C)") ASC
''')
high_temp_cities_in_fall = cursor.fetchall()

#g) The total annual rainfall for Cairo.
cursor.execute('SELECT SUM("Rainfall(mm)") AS "Total Rainfall" FROM weather WHERE City = "Cairo"')
cairo_total_rainfall = cursor.fetchone()[0]

#h) The total rainfall for each season.
cursor.execute('SELECT Season, SUM("Rainfall(mm)") AS "Total Rainfall" FROM weather GROUP BY Season')
total_rainfall_by_season = cursor.fetchall()

# Print the results
print("a) All Temperature Data:", temperature_data)
print("b) All Unique Cities:", unique_cities)
print("c) Records for India:", india_records)
print("d) Fall Records:", fall_records)
print("e) Average Rainfall between 200 and 400:", rainfall_between_200_400)
print("f) High-Temperature Cities in Fall:", high_temp_cities_in_fall)
print("g) Total Rainfall for Cairo:", cairo_total_rainfall)
print("h) Total Rainfall by Season:", total_rainfall_by_season)


conn.commit()
conn.close()

a) All Temperature Data: [(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]
b) All Unique Cities: [('Mumbai',), ('London',), ('Cairo',)]
c) Records for India: [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]
d) Fall Records: [('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
e) Average Rainfall between 200 and 400: [('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]
f) High-Temperature Cities in Fall: [('Cairo', 'Egypt'), ('Mumbai', 'India')]
g) Total Rainfall for Cairo: 27.6
h) Total Rainfall by Season: [('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

Question 9.

Suppose list words is defined as follows:>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']Write list comprehension expressions that use list words and generate the followinglists:a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in listwords).d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of listwords, where each list contains the word in uppercase and lowercase and thelength of the word.)e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] (the list of words in list words containing 4 or morecharacters.)

In [5]:
words =['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
# a)
uppercase = [word.upper() for word in words]
print(uppercase)
# b)
lowercase = [word.lower() for word in words]
print(lowercase)
# c)
word_length = [len(word) for word in words]
print(word_length)
# d)
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_info)
# e)
long_words = [word for word in words if len(word) >= 4]
print(long_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']